<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">


	<!-- 定义RabbitMQ的连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbitmq.host}" port="${rabbitmq.port}" username="${rabbitmq.username}"
		password="${rabbitmq.password}" virtual-host="${rabbitmq.virtual.host}" />

	<!-- 定义管理连接工厂 -->
	<rabbit:admin connection-factory="connectionFactory" />
 
 
	<!-- 定义队列，自动声明 前台定义队列去接收后台发来的消息-->
	<rabbit:queue name="TTSTORE-WEB-ITEM-QUEUE" auto-declare="true" durable="true"/>
	
	
	
	<!-- 队列监听  
		  如果没有队列 启动会报错 先注释
	<rabbit:listener-container connection-factory="connectionFactory">
		<rabbit:listener ref="itemMQHandler" method="execute" queue-names="myQuTTSTORE-WEB-ITEM-QUEUE" />
	</rabbit:listener-container>
 -->
<!--  消费者对象 -->
	<bean id="itemMQHandler" class="com.ttstore.web.mq.handler.ItemMQHandler" />
	
	
	
</beans>
